.App {
  text-align: center;
  font-family: "Baloo Thambi 2", cursive;
}

h2 {
  font-size: 1.2rem;
}

.block {
background-color:#e0e0e0;
border-radius: 25px;
padding: 10px;
margin: 5px;
}

.row {
display: flex;
justify-content: space-between;
align-items: center;
}

.image {
  width: 200px;
  height: 200px;
}

.main {
display: flex;
align-items: start;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}


.shoppingrow {
  display: inline-block;
  width: 50vw;
  margin: 10px;
}

.pricerow {
  display: inline-block;
  margin-left : 5px;
  margin-right: 5px;
  flex-basis: 50%;
 }

 .productbox {
  flex-grow: 1;
  flex-basis: 30%;
  align-content: flex-start;
  margin: 2px;
 }

 button {
  border-radius: 25px;
  background-color: rgb(194, 239, 245);
  font-size: 1rem;
 }

 .cartrow {
  display: flex;
 }

 .column-left{
   float: left;
   flex-wrap: nowrap;
   width: 33.333%;
 }

 .column-right{
  float: right;
  width: 33.333%;
}

.column-center{
  display: inline-block;
  width: 33.333%;
}


